@import 'tailwindcss';

@theme {

  /* FONTS  */

  --font-ibm-plex-mono: var(--font-ibm-plex-mono);
  --font-inter: var(--font-inter);

  /* ===== Font Weights ===== */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;


  /* COLORS  */
  /* ===== default ===== */
  --color-white: #ffffff;
  --color-black: #000000;

  /* ===== accent ===== */
  --color-accent: #FAF9F6;

  /* ===== secondary ===== */
  --color-secondary-dark: #303030;
  --color-tertiary-dark: #4A4A4A;

  /* ===== shadow =====  */
  --color-shadow-dark: var(--color-tertiary-dark);
  /* ===== red ===== */
  --color-danger-red: #E5322D;
  --color-light-red: #FCE4E4;

  /* ===== green ===== */
  --color-success-green: #92EDB8;
  --color-success-green-dark: #1EB15C;

  --breakpoint-lg: 75rem;

  /* ===== Shadows ===== */
  --shadow-dark: 4px 4px 0px 0px var(--color-shadow-dark)
}

@utility text-9xl {
  font-size: 7.75rem;
  font-weight: var(--font-weight-bold);
  line-height: 108px;
}

@utility text-7xl {
  font-size: 4.75rem;
}

@utility text-5xl {
  font-size: 3rem;
}

@theme {
  --animate-marquee: 22s linear 0s infinite marquee;

  @keyframes marquee {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}